<h1>Hey! How's everybody doing today?<br />
Did I pass?
</h1>
<br />
<div>
<h2> This is Raj. I just wanted to say that coding has been a lot of fun so far.</h2>
<div>
<p><%= image_tag 'happy.png', class: 'img-fluid', :size => "300x300" %><br /><br />
We have already built two apps and it feels amazing!
</p>
</div>
