h2 {
	text-align: center;
	color: #114470;
	font-size: 40px;
	font-weight: normal;
	margin-bottom: 0;
}

h3 {
	text-align: center;
	color: blue;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}

p {
	text-align: center;
}

body {
  background: image_url('sun-pattern.png');
}