@import "bootstrap";

h1 {
	font-family: 'chunkfiveroman', sans-serif;
	text-align: center;
	color: #CFD825;
	font-size: 40px;
	font-weight: normal;
	margin-bottom: 0;
}

h2 {
 	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	text-align: center;
	color: #7DE7EB;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 0;
}

p {
	text-align: center;
	font-size: 20px;
}

body {
  background: image_url('dark-paths.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.happy-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box_shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	padding: 25px;
}
